astroid==2.4.2
attrs==20.3.0
backcall==0.2.0
cycler==0.10.0
decorator==4.4.2
flake8==3.8.4
iniconfig==1.1.1
ipykernel==5.4.2
ipython==7.19.0
ipython-genutils==0.2.0
isort==5.6.4
jedi==0.17.2
jupyter-client==6.1.7
jupyter-core==4.7.0
kiwisolver==1.3.1
lazy-object-proxy==1.4.3
matplotlib==3.3.3
mccabe==0.6.1
metakernel==0.27.5
mock==4.0.3
numpy==1.19.4
oct2py==5.2.0
octave-kernel==0.32.0
packaging==20.8
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.3.0
pluggy==0.13.1
prompt-toolkit==3.0.8
ptyprocess==0.6.0
py==1.10.0
pycodestyle==2.6.0
pyflakes==2.2.0
Pygments==2.7.3
pylint==2.6.0
pyparsing==2.4.7
pytest==6.2.1
python-dateutil==2.8.1
PyYAML==5.3.1
pyzmq==20.0.0
scipy==1.5.4
six==1.15.0
toml==0.10.2
tornado==6.1
traitlets==5.0.5
wcwidth==0.2.5
wrapt==1.12.1
